
.loginbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 450px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registerbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 450px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
}


.adaugbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 500px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
    display: block;
    scroll-behavior: auto;
    flex-direction: column;
    justify-items: center;
    align-items: stretch;
}

.user {
    width: 100px;
    height: 100px;
    overflow: hidden;
    top:calc(-100px/2);
    left: calc(50% - 50px);
    position:absolute;
}

h2{
    padding:0;
    margin:0;
    text-align:center;
    color:floralwhite;

}

.lblmail, .lblpass {
   
    font-weight: bold;
    color: #fff;
}
.lbltabel {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 450px;
    padding: 80px 40px;
    background-color: transparent;
}

.txtpass, .btn_login, .txtemail{

    width:100%;
    margin-bottom:20px;

}
.txtemail, .txtpass{

    border:none;
    border-bottom:3px solid #fff;
    outline:none;
    height:30px;
    color:#fff;
    font-size:16px;
    background-color:transparent;
}


.txtadg {
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
}

.txtdropdownlist {
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
}

::placeholder{

    color:rgba(255,255,255,.5);

}
.btn_login {
    font-family:Georgia;
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: black;
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
    display: inline-block;
}

.btn_adauga {
    font-family: Georgia;
    border: none;
    position:center;
    outline: none;
    height: 20px;
    font-size: 16px;
    color: black;
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s ease-in-out;
    display: inline-block;
}
.btn_login:hover, .btn_adauga:hover{


     background-color:dodgerblue;
 }

.btn_register {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
}

.btn_register:hover {
        text-decoration: underline;
    }


body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
}
/* ============= Animation background ========= */
.background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 600% 600%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}

    .cube:nth-child(2n) {
        border-color: #FFF;
    }

    .cube:nth-child(2) {
        animation-delay: 2s;
        left: 25vw;
        top: 40vh;
    }

    .cube:nth-child(3) {
        animation-delay: 4s;
        left: 75vw;
        top: 50vh;
    }

    .cube:nth-child(4) {
        animation-delay: 6s;
        left: 90vw;
        top: 10vh;
    }

    .cube:nth-child(5) {
        animation-delay: 8s;
        left: 10vw;
        top: 85vh;
    }

    .cube:nth-child(6) {
        animation-delay: 10s;
        left: 50vw;
        top: 10vh;
    }
/* ================= Header ============ */
header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* navbar */
nav {
    color: #FFF;
    float: right;
    margin: 30px 90px;
}

    nav ul {
        list-style: none;
    }

        nav ul li {
            float:left;
            transition: .3s;
        }

            nav ul li a {
                text-decoration: none;
                color: #EFEEF5;
                transition: .5;
                font-size: 20px;
                margin-left: 16px;
            }

            nav ul li:hover a {
                text-decoration: none;
                color: black;
                ;
            }

            nav ul li:hover {
                height: 20px;
                padding-top: 5px;
                margin-top: -10px;
                text-decoration:double;
                transform:inherit;
            }


/* Header content & title & button*/
.header-content {
    margin-top: 25%;
    text-align: center;
    color: #EFEEF5;
}

    .header-content h1 {
        text-transform: uppercase;
        font-size: 3em;
        letter-spacing: 1px;
    }

    .header-content p {
        font-size: 20px;
        line-height: 1.5;
        margin: 20px auto;
    }

    .header-content button {
        width: 140px;
        margin: 20px 10px;
        color: #591BC5;
        font-size: 17px;
        border: 1px solid #EFEEF5;
        font-weight: 500;
        background: #EFEEF5;
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        transition: .3s;
    }

        .header-content button:hover {
            border-radius: 0;
        }
/* Animate Background*/
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}